[Desktop Entry]
Type=Application
MimeType=application/x-kover;
Exec=kover  
Icon=kover
Comment=CD Cover Printer
Terminal=false
Name=Kover
Categories=Qt;KDE;Utility;
